<a href="https://colab.research.google.com/github/santoshkumarvagga/API/blob/main/Naive_Bayes_Graded_Ques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lets see training data:**

In [20]:
import pandas as pd 

# reading the training data
docs = pd.read_csv("/content/drive/MyDrive/Upgrad Datasets/movie_review_train.csv")
docs.head()

  class                                               text
0   Pos   a common complaint amongst film critics is   ...
1   Pos   whew   this film oozes energy   the kind of b...
2   Pos   steven spielberg s   amistad     which is bas...
3   Pos   he has spent his entire life in an awful litt...
4   Pos   being that it is a foreign language film with...

In [21]:
  docs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   1600 non-null   object
 1   text    1600 non-null   object
dtypes: object(2)
memory usage: 25.1+ KB

In [22]:
len(docs)

1600

In [23]:
# Lets see the percentage of negative reviews in dataset
neg_perc = len(docs.loc[docs['class']=='Neg'])/len(docs)* 100
neg_perc

50.0

In [24]:
# Tagging Pos to 1 and Neg to 0.(for scikit learn to understand)
docs['class'] = docs['class'].map({'Pos':1, 'Neg':0})
docs

      class                                               text
0         1   a common complaint amongst film critics is   ...
1         1   whew   this film oozes energy   the kind of b...
2         1   steven spielberg s   amistad     which is bas...
3         1   he has spent his entire life in an awful litt...
4         1   being that it is a foreign language film with...
...     ...                                                ...
1595      0   if anything     stigmata   should be taken as...
1596      0   john boorman s   zardoz   is a goofy cinemati...
1597      0   the kids in the hall are an acquired taste   ...
1598      0   there was a time when john carpenter was a gr...
1599      0   two party guys bob their heads to haddaway s ...

[1600 rows x 2 columns]

In [25]:
X_train = docs['text']
Y_train = docs['class']

X_train.head()

0     a common complaint amongst film critics is   ...
1     whew   this film oozes energy   the kind of b...
2     steven spielberg s   amistad     which is bas...
3     he has spent his entire life in an awful litt...
4     being that it is a foreign language film with...
Name: text, dtype: object

In [26]:
Y_train.head()

0    1
1    1
2    1
3    1
4    1
Name: class, dtype: int64

In [27]:
# vectorising the sentences; removing the stop words(using stop_words='english')
from sklearn.feature_extraction.text import CountVectorizer

Suppose we don't want to consider those (rare) words which have appeared only in 3% of the documents, or say those (extremely common ones) which have appeared in 80% of the documents.

Use CountVectorizer(stop_words='english', min_df=.03, max_df=.8) to create a new vocabulary from the training set.

In [28]:
vect = CountVectorizer(stop_words='english', min_df=.03, max_df=.8) 
vect.fit(X_train)
len(vect.vocabulary_)

1643

**Lets see Testing data :**

In [29]:
# reading the testing data
docs_test = pd.read_csv("/content/drive/MyDrive/Upgrad Datasets/movie_review_test.csv")
docs_test.head()

  class                                               text
0   Pos   films adapted from comic books have had plent...
1   Pos   every now and then a movie comes along from a...
2   Pos   you ve got mail works alot better than it des...
3   Pos      jaws   is a rare film that grabs your atte...
4   Pos   moviemaking is a lot like being the general m...

In [30]:
# Tagging Pos to 1 and Neg to 0.(for scikit learn to understand)
docs_test['class'] = docs_test['class'].map({'Pos':1, 'Neg':0})
docs_test.head()

   class                                               text
0      1   films adapted from comic books have had plent...
1      1   every now and then a movie comes along from a...
2      1   you ve got mail works alot better than it des...
3      1      jaws   is a rare film that grabs your atte...
4      1   moviemaking is a lot like being the general m...

In [31]:
X_test = docs_test['text']
Y_test = docs_test['class']

X_test_transformed = vect.transform(X_test)
print(X_test_transformed.count_nonzero())

51663

**base condition**

In [32]:
vect = CountVectorizer(stop_words='english')

In [33]:
vect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [34]:
len(vect.vocabulary_)

35858