<a href="https://colab.research.google.com/github/santoshkumarvagga/API/blob/main/Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df = pd.read_csv("/content/heart_v2.csv")
df.head()

   age  sex   BP  cholestrol  heart disease
0   70    1  130         322              1
1   67    0  115         564              0
2   57    1  124         261              1
3   64    1  128         263              0
4   74    0  120         269              0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            270 non-null    int64
 1   sex            270 non-null    int64
 2   BP             270 non-null    int64
 3   cholestrol     270 non-null    int64
 4   heart disease  270 non-null    int64
dtypes: int64(5)
memory usage: 10.7 KB

In [21]:
df['heart disease'].value_counts()

0    150
1    120
Name: heart disease, dtype: int64

In [22]:
X = df.drop('heart disease', axis = 1)
X

     age  sex   BP  cholestrol
0     70    1  130         322
1     67    0  115         564
2     57    1  124         261
3     64    1  128         263
4     74    0  120         269
..   ...  ...  ...         ...
265   52    1  172         199
266   44    1  120         263
267   56    0  140         294
268   57    1  140         192
269   67    1  160         286

[270 rows x 4 columns]

In [23]:
y = df['heart disease']
y

0      1
1      0
2      1
3      0
4      0
      ..
265    0
266    0
267    0
268    0
269    1
Name: heart disease, Length: 270, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,y, train_size=0.7, random_state=100)
X_train.shape

(189, 4)

In [25]:
X_test.shape

(81, 4)